#banner{
    width: 100%;
    height: 600px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_ZydU4PTKeSzpgKkOlazzcx43L5SXtiK0RQ&s');
    background-size: cover;
    background-position: center;
}